@media (max-width: 1920px)
  .body__container
    position: relative
    max-width: 3600px
    width: 100%
    margin: 0 auto
    background-image: url(/img/gradient-1.svg), url(/img/gradient-2.png)
    background-repeat: no-repeat
    background-size: 1920px, 1920px, cover
    background-position-x: 50%

  .gradient
    position: absolute
    top: 0

    &1
      z-index: -1
      width: 1920px
      object-fit: cover


      &Tablet
        display: none

    &2
      z-index: -2

      &Tablet
        display: none

      &Mobile
        display: none

  .ellipse
    position: absolute

    &1
      top: 83px
      left: 50%
      transform: translateX(-50%)
      z-index: 1

      &Tablet
        display: none

@media (max-width: 1100px)
  .gradient
    &1
      display: none
      top: 0
      max-width: 1575px
      width: 100%

      &Tablet
        display: block

    &2
      display: none

      &Tablet
        z-index: -2
        display: block
        width: 1440px
        height: 803px

  .ellipse
    &1
      display: none

      &Tablet
        display: block

@media (max-width: 520px)
  .gradient
    &1

      &Tablet
        display: none

    &2
      display: none

      &Tablet
        display: none

      &Mobile
        display: block
        z-index: -2
        width: 1440px
        height: 552px
        left: 0px


@media (min-width: 1920px)
  .body__container
    background-size: 100%
